NODE_ENV=production
PORT=5000
COOKIE_SECURE=true
DATABASE_URL={{ database_url }}
JWT_SECRET={{ jwt_secret }}
GOOGLE_CLIENT_ID={{ google_client_id }}
ALLOWED_EMAILS={{ allowed_emails }}
CLIENT_URL=https://{{ domain }}
AWS_REGION={{ aws_region }}
S3_BUCKET={{ s3_bucket }}
EMAIL_USER={{ email_user }}
EMAIL_PASS={{ email_pass }}
SENTRY_DSN={{ sentry_dsn }}
SENTRY_TRACES_SAMPLE_RATE={{ sentry_traces_sample_rate }}
TENANT_NAME={{ tenant_name }}
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium-browser
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
